extends ../../layouts/main.jade

block title
  title Tours | travellers

block content

  hr.i-unstyled

  .row
    .col-sm-8.col-sm-offset-2
    
      h1 Туры по всему миру
  
      p Мы предлагаем вам забронировать туры по всему миру.
  
  include ../../components/announcement.21/template
  include ../../components/announcement.12/template
  include ../../components/announcement.21/template

  hr.i-unstyled
  
  include ../../modules/forms/template

  hr.i-unstyled

  