extends ../../layouts/main.jade

block title
  title Tour detail | travellers

block content

  hr.i-unstyled

  .row
    .col-sm-8.col-sm-offset-2
    
      h1 Тур «Токио вчера и сегодня»
      
      hr.i-size-M.i-unstyled
  
      .row
        .col-sm-6
          h3 Даты тура:
          p 10.05, 17.05, 18.10.16
        hr.i-unstyled.i-size-M.visible-xs-block
        .col-sm-6
          h3 Дни заездов
          p еженедельно, по вторникам
          
      hr.i-unstyled.i-size-M.visible-xs-block
  
      .row
        .col-sm-6
          h3 Продолжительность: 
          p 7н/ 8дн
        hr.i-unstyled.i-size-M.visible-xs-block
        .col-sm-6
          h3 Кратко о туре: 
          p Проживание в Токио 7 ночей по ценам группового тура + 2 экскурсии + 4 свободных дня.
          
      hr.i-size-M.i-unstyled
      
      img( src="/upload/tour.jpg" ).img-responsive

      hr.i-unstyled
      
      h2 Программа тура
      
      hr.i-unstyled.hidden-xs
      
      .row
        .col-sm-6
          img( src="/upload/img.gif" ).img-responsive
        hr.i-unstyled.i-size-M.visible-xs-block
        .col-sm-6
          h3 1 день. Вторник
          p МОСКВА – А/П НАРИТА - ТОКИО – (ВЕЧЕРНИЙ ТОКИО)
            br
            | Прибытие в аэропорт. Трансфер в отель в Токио на шаттл-автобусе с водителем.
            br
            | Размещение и отдых в отеле в Токио после 16:00 (для раннего размещения необходим заказ дополнительных суток!).
            br
            | Экскурсия по желанию, за доп.плату: Вечерний Токио на общественном транспорте 17:00-21:00. Ночь в отеле в Токио.
            
      hr.i-unstyled.visible-xs-block
      
      .row
        .col-sm-6.col-sm-push-6
          img( src="/upload/img.gif" ).img-responsive
        hr.i-unstyled.i-size-M.visible-xs-block
        .col-sm-6.col-sm-pull-6
          h3 2 день. Среда
          p МОСКВА – А/П НАРИТА - ТОКИО – (ВЕЧЕРНИЙ ТОКИО)
            br
            | Прибытие в аэропорт. Трансфер в отель в Токио на шаттл-автобусе с водителем.
            br
            | Размещение и отдых в отеле в Токио после 16:00 (для раннего размещения необходим заказ дополнительных суток!).
            br
            | Экскурсия по желанию, за доп.плату: Вечерний Токио на общественном транспорте 17:00-21:00. Ночь в отеле в Токио.
            
      hr.i-unstyled.visible-xs-block
      
      .row
        .col-sm-6
          img( src="/upload/img.gif" ).img-responsive
        hr.i-unstyled.i-size-M.visible-xs-block
        .col-sm-6
          h3 1 день. Вторник
          p МОСКВА – А/П НАРИТА - ТОКИО – (ВЕЧЕРНИЙ ТОКИО)
            br
            | Прибытие в аэропорт. Трансфер в отель в Токио на шаттл-автобусе с водителем.
            br
            | Размещение и отдых в отеле в Токио после 16:00 (для раннего размещения необходим заказ дополнительных суток!).
            br
            | Экскурсия по желанию, за доп.плату: Вечерний Токио на общественном транспорте 17:00-21:00. Ночь в отеле в Токио.
            
      hr.i-unstyled.visible-xs-block
      
      .row
        .col-sm-6.col-sm-push-6
          img( src="/upload/img.gif" ).img-responsive
        hr.i-unstyled.i-size-M.visible-xs-block
        .col-sm-6.col-sm-pull-6
          h3 2 день. Среда
          p МОСКВА – А/П НАРИТА - ТОКИО – (ВЕЧЕРНИЙ ТОКИО)
            br
            | Прибытие в аэропорт. Трансфер в отель в Токио на шаттл-автобусе с водителем.
            br
            | Размещение и отдых в отеле в Токио после 16:00 (для раннего размещения необходим заказ дополнительных суток!).
            br
            | Экскурсия по желанию, за доп.плату: Вечерний Токио на общественном транспорте 17:00-21:00. Ночь в отеле в Токио.
      
  hr.i-size-L

  .row
    .col-sm-8.col-sm-offset-2
      
      h2 Условия
      
      h3 Включено в стоимость
      
      ul
        li Пункт списка
        li Есть масса путеводителей по странам, но ни одного о том, как провести время в самолете. Для того, чтобы сделать ваш перелет максимально комфортным, мы написали 20 советов о подготовке к путешествию. Ведь настоящее путешествие начинается со слов «Добро пожаловать на борт нашего самолета»!
        li Пункт списка
        li Пункт списка
        
      hr.i-unstyled
      
      h3 Дополнительно оплачивается
      
      ul
        li Пункт списка
        li Есть масса путеводителей по странам, но ни одного о том, как провести время в самолете. Для того, чтобы сделать ваш перелет максимально комфортным, мы написали 20 советов о подготовке к путешествию. Ведь настоящее путешествие начинается со слов «Добро пожаловать на борт нашего самолета»!
        li Пункт списка
        li Пункт списка
      
  hr.i-size-L
  
  .table-responsive
    table.table.table-hover
      caption
        .row
          .col-sm-8.col-sm-offset-2 Название таблицы
      thead
        tr
          th Заголовок столбца 1
          th Заголовок столбца 2
          th Заголовок столбца 3
          th Заголовок столбца 4
      tbody
        tr
          td Пункт 1
          td Пункт 2
          td Пункт 3
          td Пункт 4
        tr
          td Пункт 1
          td Пункт 2
          td Пункт 3
          td Пункт 4

  hr.i-size-M.i-unstyled

  .row
    .col-sm-8.col-sm-offset-2
      
      .row
        .col-sm-6.text-large
          b Цена: 
            span.text-nowrap 98 740 руб.
        hr.i-size-S.i-unstyled.visible-xs-block
        .col-sm-6          
          a.btn.btn-large.btn-wide( href="" ) Отправить заявку
          
      hr.i-size-S.i-unstyled.visible-xs-block
          
      p.xsmall.relative <span class="asterisk">*</span>По правилам чартерных перевозок авиакомпания, аэропорт и время вылета могут меняться.По правилам чартерных перевозок авиакомпания, аэропорт и время вылета могут меняться. По правилам чартерных перевозок авиакомпания, аэропорт и время вылета могут меняться.
      
  hr.i-size-L
  
  include ../../modules/forms/question

  hr.i-size-M.i-unstyled