// start /components/announcement.3/

.b-announcement-3.b-announcement
  
  .row
    .col-sm-12( style="background-image: url( '/upload/banner1.jpg' )" )
      a( href="/tours/tour/" ).b-announcement__text
        .b-announcement__section Старушка Европа
        .b-announcement__title Увидеть Париж
        .b-announcement__type Прогулки по летнему Парижу
        .b-announcement__price от
          | 
          span.b-announcement__price__num 76 900 руб.

// end /components/announcement.3/