// start /components/tours.21/

.b-tours-21.b-tours
  
  .row
    .col-sm-8
      .b-tours__image( data-original="/upload/banner6.jpg" )
      a( href="/tours/tour/" ).b-card-text Экскурсионные туры в Европу
          
    .col-sm-4
      .b-tours__image( data-original="/upload/banner5.jpg" )
      a( href="/tours/tour/" ).b-card-text Недорогие туры в Крым

// end /components/tours.21/