extends ../layouts/main.jade

block title
  title Tours | travellers

block content

  hr.i-unstyled

  .row
    .col-sm-8.col-sm-offset-2
    
      h1 Туры по всему миру
  
      p Мы предлагаем вам забронировать туры по всему миру.

  hr.i-unstyled
  
  include ../components/banner.21/tour-card
  include ../components/banner.12/tour-card
  include ../components/banner.21/tour-card

  hr.i-size-M.i-unstyled
  
  include ../components/forms/template

  hr.i-size-M.i-unstyled

  