extends ../layouts/main.jade

block title
  title Hotels | travellers

block content

  hr.i-unstyled

  .row
    .col-sm-8.col-sm-offset-2
    
      h1 Отели по всему миру
  
      p Мы предлагаем вам забронировать отели по всему миру.

  hr.i-unstyled
  
  include ../modules/forms/single

  hr.i-unstyled

  