@import '../../styl/component-include.styl'

.b-video-banner
  height 700px
  position relative
  overflow hidden
  
  video
    position absolute
    top 0
    left 0
    min-width 100%
    min-height 100%
    
  .b-impression-block__container
    background rgba(0,0,0,.2)
    
    .container
      opacity 1