@import '../../styl/component-include.styl'

.b-forms
  margin-left -15px
  margin-right -15px
  background-color #fff
  
  > .row
    margin-right 0
    margin-left 0
  
  form .row
    margin-bottom 0