.b-forms
  .b-forms__bg( style="background-image: url(/components/gallery-banner/preloader.svg)" )
    .b-forms__container
      a.b-forms__image( href="" data-image="http://s.fotorama.io/1.jpg" )
      .container
      
        .b-forms__sq

          .row.i-unstyled
            .col-sm-8.col-sm-offset-2
              hr.i-unstyled
              h2 Название формы
                  
          .b-forms__tab.hidden-xs
            div( style="width: 100%;" ) <script src="https://c18.travelpayouts.com/content?promo_id=1492&shmarker=31163&countries=0" charset="utf-8" async></script>
                  
          .b-forms__tab.visible-xs-block
            div( style="width: 300px; background-color: blue;" ) <script src="https://c18.travelpayouts.com/content?promo_id=1492&shmarker=31163&countries=0" charset="utf-8" async></script>