.row
  .col-sm-8.col-sm-offset-2
    
    .row
      .col-sm-6
        img( src="/upload/manager.jpg" ).img-responsive
      .col-sm-6
        h3 Хотите забронировать этот тур?
        p Меня завут Анна Иванова, я помогу вам приобрести этот тур и оформлю все необходимые документы.
        
        a.btn.btn-large.btn-wide( href="" ) Отправить заявку