@keyframes impression-bg1
  0%
    background-color #2021da
  15%
    background-color #3db1ed
  30%
    background-color #3bf062
  45%
    background-color #f6ff11
  60%
    background-color #f83c3c
  75%
    background-color #ff40b0
  90%
    background-color #b540ff
  100%
    background-color #2021da
    
@keyframes impression-bg2
  0%
    background-color #3db1ed
  15%
    background-color #3bf062
  30%
    background-color #f6ff11
  45%
    background-color #f83c3c
  60%
    background-color #ff40b0
  75%
    background-color #b540ff
  90%
    background-color #2021da
  100%
    background-color #3db1ed
    
@keyframes impression-bg3
  0%
    background-color #3bf062
  15%
    background-color #f6ff11
  30%
    background-color #f83c3c
  45%
    background-color #ff40b0
  60%
    background-color #b540ff
  75%
    background-color #2021da
  90%
    background-color #3db1ed
  100%
    background-color #3bf062
    
@keyframes impression-bg4
  0%
    background-color #f6ff11
  15%
    background-color #f83c3c
  30%
    background-color #ff40b0
  45%
    background-color #b540ff
  60%
    background-color #2021da
  75%
    background-color #3db1ed
  90%
    background-color #3bf062
  100%
    background-color #f6ff11
    
@keyframes impression-bg5
  0%
    background-color #f83c3c
  15%
    background-color #ff40b0
  30%
    background-color #b540ff
  45%
    background-color #2021da
  60%
    background-color #3db1ed
  75%
    background-color #3bf062
  90%
    background-color #f6ff11
  100%
    background-color #f83c3c

.b-announcement
  clear both
  
  .row
    margin-bottom 0
    overflow hidden
    
  .col-sm-4,
  .col-sm-8,
  .col-sm-12
    padding-top 100%
    margin-top -1px
    
    @media (min-width: 768px)
      padding-top 33.3%
    
  .col-sm-4
    &:nth-of-type(1)
      animation impression-bg1 15s linear infinite
    &:nth-of-type(2)
      animation impression-bg3 15s linear infinite
    &:nth-of-type(3)
      animation impression-bg5 15s linear infinite
    
  .col-sm-8
    &:nth-of-type(1)
      animation impression-bg2 15s linear infinite
    &:nth-of-type(2)
      animation impression-bg4 15s linear infinite
    
  .col-sm-12
    animation impression-bg3 15s linear infinite
      
  .b-card-text
    position absolute
    bottom 0
    left 0
    width 100%
    height 100%
    display flex
    justify-content center
    align-items center
    color #fff
    font-weight bold
    font-size 18pt
    padding 20px
    line-height 1.2
    text-align center
    text-decoration none
    
  .b-announcement
      
    &__image
      display block
      position absolute
      top 0
      left 0
      width 100%
      height 100%
      background-repeat no-repeat
      background-position center center
      background-size cover
      //opacity 0
      transition( opacity 0.5s ease )
      z-index 1
      
      &.i-show
        opacity 1
      
      &:before
        content ''
        display block
        width 100%
        height 100%
        background-color rgba(51,51,51,0.3)
    
    &__text
      display block
      position absolute
      bottom 0
      left 0
      width 100%
      height 100%
      color #fff
      text-align center
      z-index 2
      
    &__section
      padding 0 15px
      font-size 10.5pt
      font-weight bold
      position absolute
      top 6%
      left 0
      width 100%
      
    &__title
      padding 0 15px
      font-size 18pt
      font-weight bold
      line-height 30px
      position absolute
      top 25%
      left 0
      width 100%
      
    &__type
      padding 0 15px
      font-size 11pt
      line-height 24px
      position absolute
      top 55%
      left 0
      width 100%
      
    &__price
      padding 0 15px
      font-size 16pt
      position absolute
      bottom 5%
      left 0
      width 100%
      
      &__num
        font-weight bold