@keyframes impression-bg1
  0%
    background-color #2021da
  15%
    background-color #3db1ed
  30%
    background-color #3bf062
  45%
    background-color #f6ff11
  60%
    background-color #f83c3c
  75%
    background-color #ff40b0
  90%
    background-color #b540ff
  100%
    background-color #2021da
    
@keyframes impression-bg2
  0%
    background-color #3db1ed
  15%
    background-color #3bf062
  30%
    background-color #f6ff11
  45%
    background-color #f83c3c
  60%
    background-color #ff40b0
  75%
    background-color #b540ff
  90%
    background-color #2021da
  100%
    background-color #3db1ed
    
@keyframes impression-bg3
  0%
    background-color #3bf062
  15%
    background-color #f6ff11
  30%
    background-color #f83c3c
  45%
    background-color #ff40b0
  60%
    background-color #b540ff
  75%
    background-color #2021da
  90%
    background-color #3db1ed
  100%
    background-color #3bf062
    
@keyframes impression-bg4
  0%
    background-color #f6ff11
  15%
    background-color #f83c3c
  30%
    background-color #ff40b0
  45%
    background-color #b540ff
  60%
    background-color #2021da
  75%
    background-color #3db1ed
  90%
    background-color #3bf062
  100%
    background-color #f6ff11
    
@keyframes impression-bg5
  0%
    background-color #f83c3c
  15%
    background-color #ff40b0
  30%
    background-color #b540ff
  45%
    background-color #2021da
  60%
    background-color #3db1ed
  75%
    background-color #3bf062
  90%
    background-color #f6ff11
  100%
    background-color #f83c3c

.b-announcement
  clear both
  
  .row
    margin-bottom 30px !important
    overflow hidden
    
  .col-sm-4,
  .col-sm-8,
  .col-sm-12
    padding-top calc(100% - 30px)
    margin-top -1px
    
    @media (min-width: 768px)
      padding-top calc(33.3% - 30px)
      
    @media (max-width 767px)
      margin-bottom 30px
      
      &:last-child
        margin-bottom 0
    
  .col-sm-4
    &:nth-of-type(1) .b-announcement__image
      animation impression-bg1 15s linear infinite
    &:nth-of-type(2) .b-announcement__image
      animation impression-bg3 15s linear infinite
    &:nth-of-type(3) .b-announcement__image
      animation impression-bg5 15s linear infinite
      
    .b-announcement__type
    
      @media( max-width 1420px ) and ( min-width 1024px )
        display none
    
  .col-sm-8
    &:nth-of-type(1) .b-announcement__image
      animation impression-bg2 15s linear infinite
    &:nth-of-type(2) .b-announcement__image
      animation impression-bg4 15s linear infinite
      
    .b-announcement__type
    
      @media( max-width 1250px ) and ( min-width 1024px )
        display none
    
  .col-sm-12 .b-announcement__image
    animation impression-bg3 15s linear infinite
      
  .b-card-text
    position absolute
    bottom 0
    left 0
    width 100%
    height 100%
    display flex
    justify-content center
    align-items center
    color #fff
    font-weight bold
    font-size 18pt
    padding 20px
    line-height 1.2
    text-align center
    text-decoration none
    
  .b-announcement
      
    &__image
      display block
      position absolute
      top 0
      left 15px
      width calc(100% - 30px)
      height 100%
      background-repeat no-repeat
      background-position center center
      background-size cover
      //opacity 0
      transition( opacity 0.5s ease )
      z-index 1
      
      &.i-show
        opacity 1
      
      &:before
        content ''
        display block
        width 100%
        height 100%
        background-color rgba(51,51,51,0.3)
    
    &__text
      display block
      position absolute
      bottom 0
      left 15px
      width calc(100% - 30px)
      height 100%
      padding 50px 50px 0
      color #fff
      text-align left
      text-decoration none
      z-index 2
      
      @media( max-width 1123px ) and ( min-width 767px )
        padding 25px 25px 0
        line-height 1.2
      
    &__section
      font-size 10.5pt
      margin-bottom 15px
        
      @media( max-width 1023px ) and ( min-width 768px )
        margin-bottom 5px
        font-size 9.5pt
      
    &__title
      font-size 21pt
      line-height 30px
      margin-bottom 15px
        
      @media( max-width 1240px ) and ( min-width 1024px )
        max-height 60px
        overflow hidden
        font-size 16pt
        
      @media( max-width 1023px ) and ( min-width 768px )
        margin-bottom 5px
        font-size 16pt
        line-height 1.2
      
    &__type
      font-size 11pt
      line-height 24px
      margin-bottom 15px
      max-height 48px
      overflow hidden
        
      @media( max-width 1023px ) and ( min-width 768px )
        font-size 9.5pt
        line-height 1.4
        max-height 34px
      
    &__price
      font-size 16pt
        
      @media( max-width 1023px ) and ( min-width 768px )
        margin-bottom 5px
        font-size 12pt
      
      &__num
        font-weight bold
        
  .btn
    opacity 0
    transition( opacity 0.5s ease )
    position absolute
    bottom 50px
    left 65px
    z-index 3
    
    @media( max-width 1123px )
      left 40px
      
    @media( max-width 1024px )
      display none
    
@media ( min-width 1025px )
  .b-announcement [class|=col-sm]:hover .btn
    opacity 1