body
  background #f4f4f4
  font-size 12pt
  line-height 1.9
  
h1
  font-size 32pt
  line-height 1.14
  font-weight bold
  margin-bottom 1.3rem
  
  @media (max-width: 768px)
    font-size 18pt
    
  
h2
  font-size 20pt
  line-height 1.4
  font-weight bold
  margin 1.5rem 0 1.4rem 0
  
h3
  font-size 13.5pt
  line-height 1.4
  font-weight bold
  
h1, h2, h3, h4, h5, h6
  &:first-child
    margin-top 0
  
p
  margin 0 0 15pt
  
ul,
ol
  padding-left 40px
  margin-bottom 15px
  
  &:last-child
    margin-bottom 0
  
  li
    padding-left 2px
    margin-bottom 14px
    font-size 13.5pt
    
    &:last-child
      margin-bottom 0
    
  &.unstyled
    padding 0
    margin 0
    
    li
      list-style-type none
      padding 0
      margin 0
      font-size inherit
    
ul
  li
    list-style-type disc
    
hr
  &.i-size-XS
    margin 2px 0
    
  &.i-size-S
    margin 5px 0
    
  &.i-size-L
    margin 40px 0
    
  &.i-size-XL
    margin 65px 0
    
  &.unstyled,
  &.i-unstyled
    border-color transparent
    
a:focus
  outline none
  
.xsmall
  font-size 70%
  line-height 1.4
  
  p
    margin 10px 0
    
.center .img-responsive
  margin-left auto
  margin-right auto