@media only screen and (max-width: 600px)
  .container
    width 100%

nav,nav .nav-wrapper i,nav a.button-collapse,nav a.button-collapse i
  height 100px
  line-height 100px

@media only screen and (min-width: 601px)
  nav,nav .nav-wrapper i,nav a.button-collapse,nav a.button-collapse i 
    height 100px
    line-height 100px

  .navbar-fixed
    height 100px

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav
  box-shadow none

nav ul a,
nav ul span
  padding 0 30px
  
  @media only screen and (max-width: 1300px)
    padding 0 18px
  
  @media only screen and (max-width: 1040px)
    padding 0 15px
  
nav ul span
  font-size 1rem
  color #fff
  display inline-block