@media only screen and (max-width: 600px)
  .container
    width 100%

nav,nav .nav-wrapper i,nav a.button-collapse,nav a.button-collapse i
  height 100px
  line-height 100px

@media only screen and (min-width: 601px)
  nav,nav .nav-wrapper i,nav a.button-collapse,nav a.button-collapse i 
    height 100px
    line-height 100px

  .navbar-fixed
    height 100px

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav
  box-shadow none

nav ul a,
nav ul span
  padding 0 30px
  
  @media only screen and (max-width: 1300px)
    padding 0 18px
  
  @media only screen and (max-width: 1040px)
    padding 0 15px
  
nav ul span
  font-size 1rem
  color #fff
  display inline-block
  
nav ul a.active span
  color #000
  
nav ul .disabled a
  &:hover,
  &:focus
    background transparent
  
.tabs
  background-color transparent
  
  .indicator
    display none
  
  nav &
    height 100px
  
  .tab
    text-transform none
    letter-spacing 0
    
    .valign-wrapper
      display -webkit-flex
      display -ms-flexbox
      display flex
      -webkit-align-items center
      -ms-flex-align center
      align-items center
    
    nav &
      height 100px
      white-space normal
    
    a
      color #fff
      
      &:hover,
      &:focus
        color #fff
        opacity( 0.6 )
      
      &.active
        background-color #fff
        color #000
        
        &:hover,
        &:focus
          color #000
          opacity( 1 )
          cursor default
      
    &.disabled
      a
        &:hover,
        &:focus
          opacity( 1 )
        
.center
  text-align center
  vertical-align middle
  
.btn,
.btn-large
  
  &,
  &:hover
    background-color #cc0033
    
.btn, .btn-large, .btn-flat
  border-radius( 5px )
  text-transform none
  font-weight bold
  
input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search],
textarea.materialize-textarea

  &:focus:not([readonly])
    border-bottom-color #cc0033
    box-shadow 0 1px 0 0 #cc0033
    
    &+label
      color #cc0033
      
.z-depth-1-half,
.btn:hover,
.btn-large:hover,
.btn-floating:hover
  box-shadow none
  
.container
  width 90%

  @media only screen and (min-width: 601px)
    width 90%

  @media only screen and (min-width: 993px)
    width 90%

  @media only screen and (max-width: 600px)
    width 100%