.b-header
  width auto
  
  nav
  
    a
      &:hover
        opacity( 0.6 )
        
    .i-disabled
      opacity( 0.4 )
      cursor default
        
        
    li
      a
        vertical-align top
        
  ul&-top-menu
    margin-left 31%
    
  &-icons
    a
      padding 0 20px
  
  a,
  a:hover,
  a:focus
    text-decoration none
    color inherit
      
.side-nav
  a
    color #fff
    
  &-back
    width 50px
    height 50px
    background embedurl( 'img/slide-back.png' ) no-repeat center center
    position absolute
    top 24px
    right 10px
    z-index 10
    
  &-logo
    height 100px
    
    a
      height 100px
      line-height 100px