.b-header
  width auto
  
  nav
  
    a
      &:hover
        opacity( 0.6 )
        
    .i-disabled
      opacity( 0.4 )
      cursor default
        
        
    li
      a
        vertical-align top
        
  &-top-menu__wrapper
    margin-left 31%
    margin-right 20%
    height 100px
    overflow hidden
    
  ul&-icons
    margin-right -10px
      
    @media ( max-width: 380px )
      margin-right -2px
    
    a
      padding 0 20px
      
      @media ( max-width: 600px )
        padding 0 10px
        
  ul li&-icons__phone
    display none
    font-size 11.5pt
    font-weight bold
    padding-right 10px
    
  .b-header.i-fixed ul.b-header-icons li&-icons__phone a
    padding 0
    font-size inherit
    
    &:hover
      opacity 1
      background-color transparent
  
  a,
  a:hover,
  a:focus
    text-decoration none
    color inherit
      
  .brand-logo
    
    @media ( max-width: 570px )
      img
        width 70%
        height auto
        
  &.i-fixed
    height 100px
    
    .b-header__container
      opacity .92
      position fixed
      top -100px
      width 100%
      transition( top .5s cubic-bezier(0.250, 0.460, 0.450, 0.940))
      z-index 990
  
    nav,
    nav .nav-wrapper i
      height 50px
      line-height 50px
      
    nav .nav-wrapper i
      transform( scale(.7))
  
    .brand-logo img
      height 50px
      width auto
      
    .b-header-top-menu__wrapper
      display none
      
    .b-header-icons__phone
      display list-item
    
      @media( max-width 450px )
        display none
      
    ul.b-header-icons a
      padding 0 10px
  
.side-nav

  li > a,
  a
    color #fff
    text-decoration none
    
  &-logo
    height 100px
    
    a
      height 100px
      line-height 100px
      
.b-phone-icon
  i
    display inline-block
    vertical-align top
    width 24px
    height 24px
    background embedurl( 'img/phone-icon.svg' ) no-repeat center center
      
.b-menu-icon
  i
    display inline-block
    vertical-align top
    width 24px
    height 24px
    background embedurl( 'img/menu-icon.svg' ) no-repeat center center
    
.b-footer
  background-color #fff
  padding-top 66px
  padding-bottom 61px
  
  ul&-social
    
    li
      display inline-block
      vertical-align top
      
    a
      display inline-block
      vertical-align top
      width 32px
      height 32px
      background-repeat no-repeat
      background-position center
      
    .i-vk
      background-image embedurl( 'img/vk.png' )
      
    .i-ok
      background-image embedurl( 'img/ok.png' )
      
    .i-fb
      background-image embedurl( 'img/fb.png' )
      
    .i-tw
      background-image embedurl( 'img/tw.png' )
      
    .i-gp
      background-image embedurl( 'img/gp.png' )
      
.bx-composite-btn
  right 50% !important
  margin-right -93px !important