.b-header
  width auto
  
  nav
  
    a
      &:hover
        opacity( 0.6 )
        
    .i-disabled
      opacity( 0.4 )
      cursor default
        
        
    li
      a
        vertical-align top
        
  ul&-top-menu
    margin-left 31%
    
  ul&-icons
    margin-right -10px
    
    a
      padding 0 20px
      
      @media ( max-width: 600px )
        padding 0 10px
  
  a,
  a:hover,
  a:focus
    text-decoration none
    color inherit
      
.side-nav
  a
    color #fff
    
  &-back
    width 69px
    height 100px
    background embedurl( 'img/slide-back.png' ) no-repeat center center
    position absolute
    top 0
    right 0
    z-index 10
    
    @media ( min-width: 767px )
      display none
      
    &:active
      background-color rgba(0,0,0,0.05)
    
  &-logo
    height 100px
    
    a
      height 100px
      line-height 100px
      
.b-phone-icon
  i
    display inline-block
    vertical-align top
    width 30px
    height 30px
    background embedurl( 'img/phone-icon.png' ) no-repeat center center
      
.b-menu-icon
  i
    display inline-block
    vertical-align top
    width 30px
    height 30px
    background embedurl( 'img/menu-icon.png' ) no-repeat center center
    
.b-footer
  background-color #fff
  padding-top 66px
  padding-bottom 15px
  
  ul&-social
    
    li
      display inline-block
      vertical-align top
      
    a
      display inline-block
      vertical-align top
      width 32px
      height 32px
      background-repeat no-repeat
      background-position center
      
    .i-vk
      background-image embedurl( 'img/vk.png' )
      
    .i-ok
      background-image embedurl( 'img/ok.png' )
      
    .i-fb
      background-image embedurl( 'img/fb.png' )
      
    .i-tw
      background-image embedurl( 'img/tw.png' )
      
    .i-gp
      background-image embedurl( 'img/gp.png' )