extends ../layouts/main.jade

block title
  title Graphic User Interface | travellers

block content

  .row
    .col-sm-8.col-sm-offset-2
  
      h1 Туристическая компания
      
      p S7 Airlines (бренд авиакомпании «Сибирь») обладает широкой сетью внутренних маршрутов, выстроенной на базе авиатранспортных узлов в Москве (Домодедово) и Новосибирске (Толмачёво). S7 Airlines также выполняет <a href="">регулярные</a> полеты в страны СНГ, Европу, Ближний Восток, Юго-Восточную Азию и страны Азиатско-Тихоокеанского региона.
      
      h2 Заголовок
      
      p История авиакомпании началась в 1957 году с момента выполнения первого гражданского рейса с военного аэродрома в Новосибирской области, находящегося в составе Толмачёвского объединенного авиаотряда. На базе этого авиаотряда была образована авиакомпания «Сибирь». С 2005 года авиакомпания «Сибирь» выполняет полеты под брендом S7 Airlines.
      
      p В мае 2012 года исполнилось 20 лет со дня основания авиакомпании «Сибирь», как самостоятельной организации.

      h3 Список
      
      ul
        li Пункт списка
        li Есть масса путеводителей по странам, но ни одного о том, как провести время в самолете. Для того, чтобы сделать ваш перелет максимально комфортным, мы написали 20 советов о подготовке к путешествию. Ведь настоящее путешествие начинается со слов «Добро пожаловать на борт нашего самолета»!
        li Пункт списка
        li Пункт списка
        
      hr.unstyled
      
      ol
        li Пункт списка
        li Есть масса путеводителей по странам, но ни одного о том, как провести время в самолете. Для того, чтобы сделать ваш перелет максимально комфортным, мы написали 20 советов о подготовке к путешествию. Ведь настоящее путешествие начинается со слов «Добро пожаловать на борт нашего самолета»!
        li Пункт списка
        li Пункт списка
        
  hr.i-size-XL
  
  .row
    .col-sm-8.col-sm-offset-2
    
      .row
        .col-sm-6
          img.img-responsive( src="/upload/img.gif" )
        .col-sm-6
          S7 Airlines (бренд авиакомпании «Сибирь») обладает широкой сетью внутренних маршрутов, выстроенной на базе авиатранспортных узлов в Москве (Домодедово) и Новосибирске (Толмачёво). S7 Airlines также выполняет <a href="">регулярные</a> полеты в страны СНГ, Европу, Ближний Восток, Юго-Восточную Азию и страны Азиатско-Тихоокеанского региона.
          
      hr.unstyled
          
      .row
        .col-sm-6
          S7 Airlines (бренд авиакомпании «Сибирь») обладает широкой сетью внутренних маршрутов, выстроенной на базе авиатранспортных узлов в Москве (Домодедово) и Новосибирске (Толмачёво). S7 Airlines также выполняет <a href="">регулярные</a> полеты в страны СНГ, Европу, Ближний Восток, Юго-Восточную Азию и страны Азиатско-Тихоокеанского региона.
        .col-sm-6
          img.img-responsive( src="/upload/img.gif" )
            
  .row
    - var i = 0
      while i < 6
        - i++
        .col-sm-2
          img.img-responsive( src="/upload/img.gif" )
  .row
    - var i = 0
      while i < 2
        - i++
        .col-sm-2
          img.img-responsive( src="/upload/img.gif" )
    
  .row
    .col-sm-2
    - var i = 0
      while i < 4
        - i++
        .col-sm-2
          img.img-responsive( src="/upload/img.gif" )
  .row
    .col-sm-2
    .col-sm-2
      img.img-responsive( src="/upload/img.gif" )
  