extends ../layouts/main.jade

block title
  title Graphic User Interface | travellers

block content

  hr.unstyled

  .row
    .col-sm-8.col-sm-offset-2
    
      h1 Buttons
      
      .btn.btn-large Large button
      .btn.btn-small Small button
      
      h1
        span Button inside heading
        .btn.btn-small The button
        
      h1.b-relative
        .b-heading-icon( style="background-image: url( '/template/images/instagram.svg' );" )
        | An icon before heading
        
      hr
  
      h1 Туристическая компания
      
      p S7 Airlines (бренд авиакомпании «Сибирь») обладает широкой сетью внутренних маршрутов, выстроенной на базе авиатранспортных узлов в Москве (Домодедово) и Новосибирске (Толмачёво). S7 Airlines также выполняет <a href="">регулярные</a> полеты в страны СНГ, Европу, Ближний Восток, Юго-Восточную Азию и страны Азиатско-Тихоокеанского региона.
      
      h2 Заголовок
      
      p История авиакомпании началась в 1957 году с момента выполнения первого гражданского рейса с военного аэродрома в Новосибирской области, находящегося в составе Толмачёвского объединенного авиаотряда. На базе этого авиаотряда была образована авиакомпания «Сибирь». С 2005 года авиакомпания «Сибирь» выполняет полеты под брендом S7 Airlines.
      
      p В мае 2012 года исполнилось 20 лет со дня основания авиакомпании «Сибирь», как самостоятельной организации.

      h3 Список
      
      ul
        li Пункт списка
        li Есть масса путеводителей по странам, но ни одного о том, как провести время в самолете. Для того, чтобы сделать ваш перелет максимально комфортным, мы написали 20 советов о подготовке к путешествию. Ведь настоящее путешествие начинается со слов «Добро пожаловать на борт нашего самолета»!
        li Пункт списка
        li Пункт списка
        
      hr.unstyled
      
      ol
        li Пункт списка
        li Есть масса путеводителей по странам, но ни одного о том, как провести время в самолете. Для того, чтобы сделать ваш перелет максимально комфортным, мы написали 20 советов о подготовке к путешествию. Ведь настоящее путешествие начинается со слов «Добро пожаловать на борт нашего самолета»!
        li Пункт списка
        li Пункт списка
        
  hr.i-size-XL
  
  .row
    .col-sm-8.col-sm-offset-2
    
      .row
        .col-sm-6.center
          img.img-responsive( src="/upload/about1.png" alt="" )
        .col-sm-6
          h2 Широчайший выбор стран
          p Пляжный отдых, экскурсионные программы, круизы, горные лыжи, авиабилеты и отели, посещение мероприятий, на нашем сайте вы сможете найти предложение более, чем по 30 странам мира.
      
      hr.i-unstyled
      
      .row
        .col-sm-6.col-sm-push-6.center
          img.img-responsive( src="/upload/about2.png" alt="" )
        .col-sm-6.col-sm-pull-6
          h2 Качественный сервис
          p Наши сотрудники хорошо разбираются во всех направлениях предлагаемых нашим агентством помогают вам ответив на любой ваш вопрос в удобное для вас время.
      
      hr.i-unstyled
      
      .row
        .col-sm-6.center
          img.img-responsive( src="/upload/about3.png" alt="" )
        .col-sm-6
          h2 Надежный партнер
          p Ответственность нашей компании застрахована в страховой компании «Страховка туристических компаний».
          p Мы гарантирцем, что заказаные у нас услуги будут предоставлены своевременно и качественно.
            
  .row
    - var i = 0
      while i < 6
        - i++
        .col-sm-2
          img.img-responsive( src="/upload/img.gif" )
  .row
    - var i = 0
      while i < 2
        - i++
        .col-sm-2
          img.img-responsive( src="/upload/img.gif" )
    
  .row
    .col-sm-2
    - var i = 0
      while i < 4
        - i++
        .col-sm-2
          img.img-responsive( src="/upload/img.gif" )
  .row
    .col-sm-2
    .col-sm-2
      img.img-responsive( src="/upload/img.gif" )
  