extends ../layouts/main.jade

block title
  title Request | travellers

block content

  hr.i-unstyled

  .row
    .col-sm-8.col-sm-offset-2
    
      h1 Отправить запрос
  
      p Отправьте запрос на интересующий вас тур и мы предложим вам оптимальный вариант путешествия.

  hr.i-unstyled
  
  include ../components/forms.request/template

  hr.i-unstyled

  