
<!-- start /components/announcement.111/-->
<div class="b-announcement-111 b-announcement">
  <div class="row">
    <div data-image="/upload/banner2.jpg" class="col-sm-4">
      <div class="b-announcement__image"></div><a href="/tours/tour/" class="b-announcement__text">
        <div class="b-announcement__section">Южная америка</div>
        <div class="b-announcement__title">Гаваи, Коста Рика, Куба</div>
        <div class="b-announcement__type">Туры с авиаперелетом. Пляжный отдых</div>
        <div class="b-announcement__price">
          от
           <span class="b-announcement__price__num">266 800 руб.</span>
        </div></a>
    </div>
    <div data-image="/upload/banner3.jpg" class="col-sm-4">
      <div class="b-announcement__image"></div><a href="/tours/tour/" class="b-announcement__text">
        <div class="b-announcement__section">Горные лыжи</div>
        <div class="b-announcement__title">Австрия</div>
        <div class="b-announcement__type">Туры на европейские горнолыжные курорты.</div>
        <div class="b-announcement__price">
          от
           <span class="b-announcement__price__num">106 800 руб.</span>
        </div></a>
    </div>
    <div data-image="/upload/banner4.jpg" class="col-sm-4">
      <div class="b-announcement__image"></div><a href="/tours/tour/" class="b-announcement__text">
        <div class="b-announcement__section">Северная америка</div>
        <div class="b-announcement__title">Путешествие по Аризоне</div>
        <div class="b-announcement__type">Туры с авиаперелетом</div>
        <div class="b-announcement__price">
          от
           <span class="b-announcement__price__num">466 800 руб.</span>
        </div></a>
    </div>
  </div>
</div>
<!-- end /components/announcement.111/-->