
<!-- start /components/video-banner/-->
<link rel="stylesheet" href="/components/video-banner/style.css"/>
<script src="/components/video-banner/script.js"></script>
<div class="b-video-banner">
  <video autoplay="" autobuffer="" playsinline="" webkit-playsinline="" poster="/template/images/video.jpg" preload="metadata" muted="" loop="">
    <source src="/template/video/video.mp4" type="video/mp4"/>
    <p>To view this video please enable JavaScript, and consider upgrading to a web browser that supports HTML5 video</p>
  </video>
  <div class="b-impression-block__container">
    <div class="container">
      <h2 class="b-h1">Хевиз</h2>
      <p>Хевиз – известный венгерский курорт, популярность которому обеспечило самое крупное целебное     термальное озеро, которое стремятся посетить гости из Европы и России.<br/><b class="b-impression-block__price">от 480 €</b></p>
    </div>
  </div>
</div>
<!-- end /components/video-banner/-->