// start /components/banner.12/

.b-banner-12.b-banner
  
  .row
    .col-sm-4( style="background-image: url( '/upload/banner3.jpg' )" )
      .b-banner__text
        .b-banner__section Старушка Европа
        .b-banner__title Увидеть Париж
        .b-banner__type Прогулки по летнему Парижу
        .b-banner__price от
          | 
          span.b-banner__price__num 76 900 руб.
          
    .col-sm-8( style="background-image: url( '/upload/banner2.jpg' )" )
      .b-banner__text
        .b-banner__section Сказка
        .b-banner__title Северное сияние в Исландии
        .b-banner__type Туры с авиаперелетом
        .b-banner__price от
          | 
          span.b-banner__price__num 466 800 руб.
          
// end /components/banner.12/