#alfabet1.row.i-active

  .col-sm-3
    ul.browser
      li
        a( href="" ) Австралия
      li
        a( href="" ) Австрия
      li
        a( href="" ) Азербайджан
      li
        a( href="" ) Аландские острова
      li
        a( href="" ) Албания

  .col-sm-3
    ul.browser
      li
        a( href="" ) Алжир
      li
        a( href="" ) Американское Самоа
      li
        a( href="" ) Ангилья
      li
        a( href="" ) Ангола
      li
        a( href="" ) Андорра

  .col-sm-3
    ul.browser
      li
        a( href="" ) Антарктида
      li
        a( href="" ) Антигуа и Барбуда
      li
        a( href="" ) Аргентина
      li
        a( href="" ) Армения
      li
        a( href="" ) Аруба

  .col-sm-3
    ul.browser
      li
        a( href="" ) Алжир
      li
        a( href="" ) Американское Самоа
      li
        a( href="" ) Ангилья