#alfabet2.row

  .col-sm-3
    ul.browser
      li
        a( href="" ) Багамские Острова
      li
        a( href="" ) Бангладеш
      li
        a( href="" ) Барбадос
      li
        a( href="" ) Бахрейн
      li
        a( href="" ) Белиз

  .col-sm-3
    ul.browser
      li
        a( href="" ) Белоруссия
      li
        a( href="" ) Бельгия

  .col-sm-3
    ul.browser
      li
        a( href="" ) Бенин
      li
        a( href="" ) Бермуды

  .col-sm-3
    ul.browser
      li
        a( href="" ) Болгария
      li
        a( href="" ) Боливия