#alfabet3.row

  .col-sm-3
    ul.browser
      li
        a( href="" ) Вануату

  .col-sm-3
    ul.browser
      li
        a( href="" ) Ватикан

  .col-sm-3
    ul.browser
      li
        a( href="" ) Великобритания

  .col-sm-3
    ul.browser
      li
        a( href="" ) Венгрия