#alfabet5.row

  .col-sm-3
    ul.browser
      li
        a( href="" ) Дания

  .col-sm-3
    ul.browser
      li
        a( href="" ) Демократическая Республика Конго

  .col-sm-3
    ul.browser
      li
        a( href="" ) Джерси