.b-alfabet

  .row
  
    .col-sm-8.col-sm-offset-2

      h2 Авиабилеты в 220 стран мира
      
  hr.i-size-L
  
  .b-alfabet__nav
    a( href="" data-id="alfabet1" ).i-active А
    | 
    a( href="" data-id="alfabet2" ) Б
    | 
    a( href="" data-id="alfabet3" ) В
    | 
    a( href="" data-id="alfabet4" ) Г
    | 
    a( href="" data-id="alfabet5" ) Д
    | 
    a( href="" data-id="alfabet6" ) Е
    | 
    a( href="" data-id="alfabet7" ) З
    | 
    a( href="" data-id="alfabet8" ) И
    | 
    a( href="" data-id="alfabet9" ) Й
    | 
    a( href="" data-id="alfabet10" ) К
    | 
    a( href="" data-id="alfabet11" ) Л
    | 
    a( href="" data-id="alfabet12" ) М
    | 
    a( href="" data-id="alfabet13" ) Н
    | 
    a( href="" data-id="alfabet14" ) О
    | 
    a( href="" data-id="alfabet15" ) П
    | 
    a( href="" data-id="alfabet16" ) Р
    | 
    a( href="" data-id="alfabet17" ) С
    | 
    a( href="" data-id="alfabet18" ) Т
    | 
    a( href="" data-id="alfabet19" ) У
    | 
    a( href="" data-id="alfabet20" ) Ф
    | 
    a( href="" data-id="alfabet21" ) Х
    | 
    a( href="" data-id="alfabet22" ) Ц
    | 
    a( href="" data-id="alfabet23" ) Ч
    | 
    a( href="" data-id="alfabet24" ) Ш
    | 
    a( href="" data-id="alfabet25" ) Э
    | 
    a( href="" data-id="alfabet26" ) Ю
    | 
    a( href="" data-id="alfabet27" ) Я
    
  hr.i-unstyled
    
  .b-alfabet__list
  
    include 1
    include 2
    include 3
    include 4
    include 5
    include 6
    include 7
    include 8
    include 9
    include 10
    include 11
    include 12
    include 13
    include 14
    include 15
    include 16
    include 17
    include 18
    include 19
    include 20
    include 21
    include 22
    include 23
    include 24
    include 25
    include 26
    include 27
    