@import '../../styl/component-include.styl'

.b-alfabet

  h2
    margin-bottom 0
  
  &__nav
    
    a
      display inline-block
      font-size 12pt
      font-weight bold
      margin-right 10px
      text-decoration none
      
      &.i-active
        color #333
      
  ul.browser
  
    &,
    & li
      margin 0
      padding 0
      list-style-type none
      line-height 1.4
      
    & li
      margin-bottom 10px
      
  &__list
  
    .row
      display none
      
      &.i-active
        display block