@import '../../styl/component-include.styl'
        
.b-forms
  margin-left -15px
  margin-right -15px
  background-color #fff

  .tabs
    padding-left 0
      
    .tab
      a
        text-decoration none
        
        span
          padding 0
          line-height 20px
          width 100%
          
      &.disabled
        opacity( 0.4 )
        
  nav ul
    border-bottom 1px solid #f4f4f4

  &__tab
    padding 15px
    display flex
    
    > div
      margin 0 auto