// start /components/announcement.111/

.b-announcement-111.b-announcement
  
  .row
    .col-sm-4
      .b-announcement__image( data-original="/upload/banner2.jpg" )
      a( href="/tours/tour/" ).b-announcement__text
        .b-announcement__section Южная америка
        .b-announcement__title Гаваи, Коста Рика, Куба
        .b-announcement__type Туры с авиаперелетом. Пляжный отдых
        .b-announcement__price от
          | 
          span.b-announcement__price__num 266 800 руб.
          
    .col-sm-4
      .b-announcement__image( data-original="/upload/banner3.jpg" )
      a( href="/tours/tour/" ).b-announcement__text
        .b-announcement__section Горные лыжи
        .b-announcement__title Австрия
        .b-announcement__type Туры на европейские горнолыжные курорты.
        .b-announcement__price от
          | 
          span.b-announcement__price__num 106 800 руб.
          
    .col-sm-4
      .b-announcement__image( data-original="/upload/banner4.jpg" )
      a( href="/tours/tour/" ).b-announcement__text
        .b-announcement__section Северная америка
        .b-announcement__title Путешествие по Аризоне
        .b-announcement__type Туры с авиаперелетом
        .b-announcement__price от
          | 
          span.b-announcement__price__num 466 800 руб.

// end /components/announcement.111/