// start /components/announcement.12/

.b-announcement-12.b-announcement
  
  .row
    .col-sm-4( style="background-image: url( '/upload/banner3.jpg' )" )
      a( href="/tours/tour/" ).b-announcement__text
        .b-announcement__section Старушка Европа
        .b-announcement__title Увидеть Париж
        .b-announcement__type Прогулки по летнему Парижу
        .b-announcement__price от
          | 
          span.b-announcement__price__num 76 900 руб.
          
    .col-sm-8( style="background-image: url( '/upload/banner2.jpg' )" )
      a( href="/tours/tour/" ).b-announcement__text
        .b-announcement__section Сказка
        .b-announcement__title Северное сияние в Исландии
        .b-announcement__type Туры с авиаперелетом
        .b-announcement__price от
          | 
          span.b-announcement__price__num 466 800 руб.
          
// end /components/announcement.12/