// start /components/tours.12/

.b-tours-12.b-tours
  
  .row
    .col-sm-4
      .b-tours__image( data-original="/upload/banner3.jpg" )
      a( href="/tours/tour/" ).b-card-text Недорогие туры в крым
          
    .col-sm-8
      .b-tours__image( data-original="/upload/banner2.jpg" )
      a( href="/tours/tour/" ).b-card-text Экскурсионные туры в Европу
          
// end /components/tours.12/