
<!-- start /components/banner.3/-->
<div class="b-banner-3 b-banner">
  <div class="row">
    <div style="background-image: url( '/upload/banner1.jpg' )" class="col-sm-12">
      <div class="b-banner__text">
        <div class="b-banner__section">Старушка Европа</div>
        <div class="b-banner__title">Увидеть Париж</div>
        <div class="b-banner__type">Прогулки по летнему Парижу</div>
        <div class="b-banner__price">
          от
           <span class="b-banner__price__num">76 900 руб.</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end /components/banner.3/-->