extends ../../../../layouts/main.jade

block title
  title Resort | travellers
  
block banner
  include ../../../../components/gallery-banner/template

block content

  hr.i-unstyled.i-size-L
  
  .row
    .col-sm-2
      hr.i-unstyled.i-size-XS
      h3
        a.i-text-color( href="" ) Мексика
        hr.i-unstyled
        a.i-text-color( href="" )
          b Очень длинное название региона
    hr.i-unstyled
    .col-sm-8
      h1 Канкун
      p Канкун — мечта офисного планктона из Штатов, примерно то же, что для наших Анталия или Хургада. Курорт с идеальными параметрами для того, чтобы стать достойной заставкой рабочего стола вашего лэптопа. И это действительно так: пляжи здесь белоснежные, вода бирюзовая, пальмы изумрудные, а девушки все без исключения загорелые и в бикини. Однако эта застывшая в Карибском море песчаная «семерка» (именно так выглядит из иллюминатора самолета загогулина Канкуна) готов предложить своим туристам нечто большее, чем банальное пляжное валяние. Шопоголиков ждут десятки первоклассных торговых центров, отцов семейств — рыбалка на барракуду и марлина, дайвинг у кораллов Косумеля, кайтинг и серфинг, ну а истинных леди — всевозможные процедуры в спа-центрах. Здесь умеют вывалять в грязи так, что будешь чувствовать себя княжной как минимум.


  hr.i-unstyled.i-size-L
  
  include ../../../../modules/forms/template

  hr.i-unstyled.i-size-L
  
  .row
    .col-sm-8.col-sm-offset-2
      h2 Отели Канкуна
      p Какие ассоциации возникают в голове при слове «Мексика»? Некий собирательный образ Рамиреса в сомбреро и с револьверами за поясом, наводящий страх на все окрестные села? Или эти самые, находящиеся в пустынях, желто-песчаные деревушки? Темноокие мексиканки или такос и буритос? Перечислять можно очень долго, но все это — стереотипы. Прежде всего, Мексика — безумно красивая и интересная страна, на территории которой сосредоточена масса достопримечательностей — как исторических, так и природных.
      
      hr.i-unstyled
      
      div widget here

  hr.i-size-L
  
  include ../../../../modules/forms/question

  hr.i-size-L
  
  include ../../../../modules/line-menu/include
  
  hr.i-unstyled.i-size-L

  