// start /components/banner.3/

.b-banner-3.b-banner
  
  .row
    .col-sm-12( style="background-image: url( '/upload/banner1.jpg' )" )
      a( href="/tours/tour/" ).b-banner__text
        .b-banner__section Старушка Европа
        .b-banner__title Увидеть Париж
        .b-banner__type Прогулки по летнему Парижу
        .b-banner__price от
          | 
          span.b-banner__price__num 76 900 руб.

// end /components/banner.3/