// start /components/banner.3/

.b-banner-3.b-banner
  
  .row
    .col-sm-12( style="background-image: url( '/upload/banner1.jpg' )" )
      .b-card-text Экскурсионные туры в Европу

// end /components/banner.3/