// start /components/banner.111/

.b-banner-111.b-banner
  
  .row
    .col-sm-4( style="background-image: url( '/upload/banner2.jpg' )" )
      a( href="/tours/tour/" ).b-banner__text
        .b-banner__section Южная америка
        .b-banner__title Гаваи, Коста Рика, Куба
        .b-banner__type Туры с авиаперелетом. Пляжный отдых
        .b-banner__price от
          | 
          span.b-banner__price__num 266 800 руб.
          
    .col-sm-4( style="background-image: url( '/upload/banner3.jpg' )" )
      a( href="/tours/tour/" ).b-banner__text
        .b-banner__section Горные лыжи
        .b-banner__title Австрия
        .b-banner__type Туры на европейские горнолыжные курорты.
        .b-banner__price от
          | 
          span.b-banner__price__num 106 800 руб.
          
    .col-sm-4( style="background-image: url( '/upload/banner4.jpg' )" )
      a( href="/tours/tour/" ).b-banner__text
        .b-banner__section Северная америка
        .b-banner__title Путешествие по Аризоне
        .b-banner__type Туры с авиаперелетом
        .b-banner__price от
          | 
          span.b-banner__price__num 466 800 руб.

// end /components/banner.111/