// start /components/banner.111/

.b-banner-111.b-banner
  
  .row
    .col-sm-4( style="background-image: url( '/upload/banner2.jpg' )" )
      a( href="/tours/tour/" ).b-card-text Экскурсионные туры в Европу
          
    .col-sm-4( style="background-image: url( '/upload/banner3.jpg' )" )
      a( href="/tours/tour/" ).b-card-text Недорогие туры в крым
          
    .col-sm-4( style="background-image: url( '/upload/banner4.jpg' )" )
      a( href="/tours/tour/" ).b-card-text Экскурсионные туры в Европу

// end /components/banner.111/