#phoneModal.modal
  a( href="#!" ).modal-action.modal-close
  .modal-content.text-center
    h2 Связаться с нами
    
    .modal-phones
      i.b-phone-icon
      div
        a( href="tel:+88008090100" ) 8 800 80 90 100
      div
        a( href="tel:+74953500000" ) +7 495 350 00 00
      div
        a( href="tel:+74953500000" ) +7 495 350 00 00
    
    .modal-post
      i.b-post-icon
      a( href="request" ) Написать нам