@import '../../styl/component-include.styl'

.modal
  color #333
  line-height 1.72857143
  
  .modal-content
    padding 24px 10px 10px
    
  &.bottom-sheet
    .modal-content
      padding 24px 15px 15px
  
  a
    color #c03
    text-decoration underline
    
    &:hover,
    &:focus
      color #f36
      
  h2
    font-size 32pt
    margin 30px 0 65px
    
    @media( max-width 750px )
      font-size 18pt
      margin 0 0 26px
  
  .b-phone-icon
    display block
    margin 0 auto 20px
    width 32px
    height 32px
    background embedurl( 'img/phone-modal-icon.png' ) no-repeat 0 0
    
    @media( max-width 750px )
      margin-bottom 14px
  
  .b-post-icon
    display block
    margin 0 auto 15px
    width 32px
    height 32px
    background embedurl( 'img/post-icon.png' ) no-repeat 0 0
    
    @media( max-width 750px )
      margin-bottom 14px
  
  &:not(.bottom-sheet).modal-close
    display block
    margin 0 auto
    width 64px
    height 64px
    background embedurl( 'img/close-icon.png' ) no-repeat center center #efefef
    border-radius 51%
    position absolute
    top 35px
    right 35px
    
    &:hover
      background embedurl( 'img/close-icon-hover.png' ) no-repeat center center #999
      
    @media( max-width 750px )
      top auto
      bottom 10px
      left 50%
      margin-left -32px
      
  &-phones
    margin-bottom 70px
      
    @media( max-width 750px )
      margin-bottom 36px
  
    a
      color #333
      text-decoration none
      
      &:hover,
      &:focus
        color #f36
        text-decoration none
  
    div
      font-size 13.5pt
      margin-bottom 4px
      line-height 1.1
      
      @media( max-width 750px )
        font-size 14pt
        line-height 1.4
    
      &:first-of-type
        font-size 34pt
        margin-bottom 21px
        line-height normal
      
        @media( max-width 750px )
          font-size 16pt
          margin-bottom 0
          line-height 1.4
        
  &-post
    font-size 20pt
    margin-bottom 95px
      
    @media( max-width 750px )
      margin-bottom 70px
      font-size 16pt