extends ../layouts/main.jade

block title
  title Aviatickets | travellers

block content

  hr.i-unstyled

  .row
    .col-sm-8.col-sm-offset-2
    
      h1 Авиабилеты по всему миру
  
      p Мы предлагаем вам забронировать авиабилеты по всему миру.

  hr.i-unstyled
  
  include ../modules/forms/single
  
  hr.i-unstyled.i-size-L
  
  include ../modules/alfabet/include

  hr.i-unstyled

  