@import '../../styl/component-include.styl'

.b-instagram-feed

  &__item
    text-align left
    box-shadow 0 0 30px rgba(0,0,0,.08)
  
  &__img
    padding-top 100%
    background-repeat no-repeat
    background-position center
    background-size cover
    
  &__text
    background-color #fff
    padding 15px 18px
    font-size 8pt
    line-height 1.5
    
@media (max-width: 768px)
  
  .container .b-instagram-feed .row
    margin-bottom 0
    
  .b-instagram-feed__item
    margin-bottom 15px