// start /components/instagram-feed/

link( rel="stylesheet", href="/components/instagram-feed/style.css" )
script( src="/components/instagram-feed/script.js" )

.b-instagram-feed

  .row.i-slide-top-animation
    
    .col-sm-3
      .b-instagram-feed__item
        .b-instagram-feed__img( data-original="/upload/instagram/1.jpg" )
        .b-instagram-feed__text
          | Почему нельзя всегда жить в отеле? Вы только представьте: просыпаешься в красивом номере, спускаешься вниз, где тебя ждёт уже готовый завтрак. Никаких дел по дому, ушёл по своим делам, вернулся - в номере уже идеальная чистота. И так каждый день. 
    
    .col-sm-3
      .b-instagram-feed__item
        .b-instagram-feed__img( data-original="/upload/instagram/2.jpg" )
        .b-instagram-feed__text
          | Buon pomeriggio dalla spiaggia di Sansone all'#isoladelba con la foto di @barbara.barilla
    
    .col-sm-3
      .b-instagram-feed__item
        .b-instagram-feed__img( data-original="/upload/instagram/3.jpg" )
        .b-instagram-feed__text
          | Почему нельзя всегда жить в отеле? 
    
    .col-sm-3
      .b-instagram-feed__item
        .b-instagram-feed__img( data-original="/upload/instagram/4.jpg" )
        .b-instagram-feed__text
          | Почему нельзя всегда жить в отеле? Вы только представьте: просыпаешься в красивом номере, спускаешься вниз, где тебя ждёт уже готовый завтрак. Никаких дел по дому, ушёл по своим делам, вернулся - в номере уже идеальная чистота. И так каждый день.
  
  .row.i-slide-top-animation
    
    .col-sm-3
      .b-instagram-feed__item
        .b-instagram-feed__img( data-original="/upload/instagram/1.jpg" )
        .b-instagram-feed__text
          | Почему нельзя всегда жить в отеле? Вы только представьте: просыпаешься в красивом номере, спускаешься вниз, где тебя ждёт уже готовый завтрак. Никаких дел по дому, ушёл по своим делам, вернулся - в номере уже идеальная чистота. И так каждый день. 
    
    .col-sm-3
      .b-instagram-feed__item
        .b-instagram-feed__img( data-original="/upload/instagram/2.jpg" )
        .b-instagram-feed__text
          | Buon pomeriggio dalla spiaggia di Sansone all'#isoladelba con la foto di @barbara.barilla
    
    .col-sm-3
      .b-instagram-feed__item
        .b-instagram-feed__img( data-original="/upload/instagram/3.jpg" )
        .b-instagram-feed__text
          | Почему нельзя всегда жить в отеле? 
    
    .col-sm-3
      .b-instagram-feed__item
        .b-instagram-feed__img( data-original="/upload/instagram/4.jpg" )
        .b-instagram-feed__text
          | Почему нельзя всегда жить в отеле? Вы только представьте: просыпаешься в красивом номере, спускаешься вниз, где тебя ждёт уже готовый завтрак. Никаких дел по дому, ушёл по своим делам, вернулся - в номере уже идеальная чистота. И так каждый день. 

// end /components/instagram-feed/