// start /components/tours.3/

.b-tours-3.b-tours.i-slide-top-animation
  
  .row
    .col-sm-12
      .b-tours__image( data-original="/upload/banner1.jpg" )
      a( href="/tours/tour/" ).b-card-text Экскурсионные туры в Европу

// end /components/tours.3/