// start /components/tours.3/

.b-tours-3.b-tours
  
  .row
    .col-sm-12( style="background-image: url( '/upload/banner1.jpg' )" )
      a( href="/tours/tour/" ).b-card-text Экскурсионные туры в Европу

// end /components/tours.3/