footer.b-footer
  section.container
    .row
      .col-sm-4
        h3 О компании
        p S7 Airlines (бренд авиакомпании «Сибирь») обладает широкой сетью внутренних маршрутов, выстроенной на базе авиатранспортных узлов в Москве (Домодедово) и Новосибирске (Толмачёво). S7 Airlines также выполняет <a href="">регулярные</a> полеты в страны СНГ, Европу, Ближний Восток, Юго-Восточную Азию и страны Азиатско-Тихоокеанского региона.

      hr.unstyled.visible-xs-block.i-size-M
        
      .col-sm-4
        h3 Офис
        p Мневники, дом 3, строение 1, офис 224.<br>
          a( href="" ) На карте (Схема проезда)
          
        h3 Телефоны
        p + 8 888 88 88 (для Москвичей)<br>+ 7 777 77 77 (для всей России)
        
        hr.unstyled
        
        ul.unstyled.b-footer-social
          li
            a( href="" ).i-vk
          li
            a( href="" ).i-ok
          li
            a( href="" ).i-fb
          li
            a( href="" ).i-tw
          li
            a( href="" ).i-gp

      hr.unstyled.visible-xs-block
      
      .col-sm-4
        h3 Полезная информация
        ul.unstyled
          li
            a( href="" ) Туры
          li
            a( href="" ) Авиабилеты
          li
            a( href="" ) Отели
          li
            a( href="" ) Аренда автомобилей
          li
            a( href="" ) О компании
            
    hr.i-size-L
    
    .xsmall
      p Все приведенные на настоящем сайте стоимостные показатели туристских услуг являются частью оферты, предназначенной для юридических лиц (туристских агентств) заключивших договоры с ООО "Джет Тревел" и занесенных в реестр агентств ООО "Джет Тревел".
      p ООО "Джет Тревел" намерено в соответствии со ст. 435 ГК РФ реализовать туристский продукт тем агентствам из реестра агентств ООО "Джет Тревел", которыми будет принято предложение. Оферта действует на день предложения.
      p Информация (в том числе, о стоимости турпродукта), содержащаяся на интернет-сайте www.jettravel.ru предназначена для определенного ограниченного круга юридических лиц: исключительно для туристских агентств, заключивших агентские договоры с OOО "Джет Тревел" и содержащихся в базе данных агентств ООО "Джет Тревел"; вся информация (в том числе, о стоимости турпродукта) для любых иных юридических и физических лиц может быть получена при личном обращении в компанию по телефонам и адресам электронной почты, приведенным на сайте.
    
    hr.unstyled.i-size-S
    
    .row.xsmall
      .col-xs-6 © Сopyright. Traveller 2016
      .col-xs-6.text-right
        a( href="http://bejet.ru" target="_blank" ) Решение создано в Bejet.
        
| <div style="position: relative;"><a target="_blank" class="bx-composite-btn bx-btn-white bx-composite-btn-fixed" href="http://www.1c-bitrix.ru/composite/" style="background-color: rgb(233, 69, 36);">Быстро с 1С-Битрикс</a></div>
| <style type="text/css">.bx-composite-btn {background: url(/bitrix/images/main/composite/sprite-1x.png) no-repeat right 0 #e94524;border-radius: 15px;color: #ffffff !important;display: inline-block;line-height: 30px;font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;font-size: 12px !important;font-weight: bold !important;height: 31px !important;padding: 0 42px 0 17px !important;vertical-align: middle !important;text-decoration: none !important;}@mediaonly screen and (-webkit-min-device-pixel-ratio: 2),only screen and (min--moz-device-pixel-ratio: 2),only screen and (-o-min-device-pixel-ratio: 2/1),only screen and (min-device-pixel-ratio: 2),only screen and (min-resolution: 192dpi),only screen and (min-resolution: 2dppx) {.bx-composite-btn {background-image: url(/bitrix/images/main/composite/sprite-2x.png);background-size: 42px 124px;}}.bx-composite-btn-fixed {position: absolute;top: -45px;right: 15px;z-index: 10;}.bx-btn-white {background-position: right 0;color: #fff !important;}.bx-btn-black {background-position: right -31px;color: #000 !important;}.bx-btn-red {background-position: right -62px;color: #555 !important;}.bx-btn-grey {background-position: right -93px;color: #657b89 !important;}.bx-btn-border {border: 1px solid #d4d4d4;height: 29px !important;line-height: 29px !important;}</style>