<div id="bx-panel" style="z-index: 995 !important;">BX Panel</div>

header.b-header
  nav
    .container
      .nav-wrapper
      
        a.brand-logo.left( href="/" )
          img( src="/upload/travellers-logo.png" alt="Travellers" )
          
        ul.unstyled.b-header-top-menu.center.hide-on-med-and-down
          li
            span.i-disabled( href="/tours/" ) Туры
          li
            a( href="/aviatickets/" ) Авиабилеты
          li
            a( href="/hotels/" ) Отели
          li
            a( href="/about/" ) О нас
        
        ul.unstyled.b-header-icons.right
          li
            a( href="#phoneModal" rel="nofollow" ).b-phone-icon.modal-trigger
              i
          li
            a.b-header-nav.b-menu-icon( href="" data-activates="slide-out" rel="nofollow" )
              i
              
        include ../../modules/modal/include
              
        ul#slide-out.side-nav.unstyled
          li.side-nav-back(  data-activates="slide-out" )
          li.side-nav-logo
            a( href="" )
              img( src="/upload/travellers-logo.png" alt="Travellers" )
          li
            a( href="/tours/" ) Туры
          li
            a( href="/aviatickets/" ) Авиабилеты
          li
            a( href="/hotels/" ) Отели
          li
            a( href="/about/" ) О нас