header.b-header
  nav
    .container
      .nav-wrapper
      
        a.brand-logo.left( href="#" )
          img( src="/upload/travellers-logo.png" alt="Travellers" )
          
        ul.b-header-top-menu.center.hide-on-med-and-down
          li
            span.i-disabled( href="" ) Туры
          li
            a( href="" ) Авиабилеты
          li
            a( href="" ) Отели
          li
            a( href="" ) О нас
        
        ul.b-header-icons.right
          li
            a( href="" )
              i.material-icons phone
          li
            a.b-header-nav( href="" data-activates="slide-out" )
              i.material-icons view_headline
              
        ul#slide-out.side-nav
          li.side-nav-back(  data-activates="slide-out" )
          li.side-nav-logo
            a( href="" )
              img( src="/upload/travellers-logo.png" alt="Travellers" )
          li
            a( href="" ) Туры
          li
            a( href="" ) Авиабилеты
          li
            a( href="" ) Отели
          li
            a( href="" ) О нас
            