header.b-header
  nav
    .container
      .nav-wrapper
      
        a.brand-logo.left( href="#" )
          img( src="/upload/travellers-logo.png" alt="Travellers" )
          
        ul.unstyled.b-header-top-menu.center.hide-on-med-and-down
          li
            span.i-disabled( href="/tours/" ) Туры
          li
            a( href="/aviatickets/" ) Авиабилеты
          li
            a( href="/hotels/" ) Отели
          li
            a( href="/about/" ) О нас
        
        ul.unstyled.b-header-icons.right
          li
            a( href="#phone-modal" ).b-phone-icon.modal-trigger
              i
          li
            a.b-header-nav.b-menu-icon( href="" data-activates="slide-out" )
              i
        #phone-modal.modal
          .modal-content
            h4 Modal Header
            p A bunch of text
          .modal-footer
            a( href="#!" ).modal-action.modal-close.waves-effect.waves-green.btn-flat Agree
              
        ul#slide-out.side-nav.unstyled
          li.side-nav-back(  data-activates="slide-out" )
          li.side-nav-logo
            a( href="" )
              img( src="/upload/travellers-logo.png" alt="Travellers" )
          li
            a( href="/tours/" ) Туры
          li
            a( href="/aviatickets/" ) Авиабилеты
          li
            a( href="/hotels/" ) Отели
          li
            a( href="/about/" ) О нас
            