
<!-- start /components/banner.111/-->
<div class="b-banner-111 b-banner">
  <div class="row">
    <div style="background-image: url( '/upload/banner2.jpg' )" class="col-sm-4">
      <div class="b-card-text">Экскурсионные туры в Европу</div>
    </div>
    <div style="background-image: url( '/upload/banner3.jpg' )" class="col-sm-4">
      <div class="b-card-text">Недорогие туры в крым</div>
    </div>
    <div style="background-image: url( '/upload/banner4.jpg' )" class="col-sm-4">
      <div class="b-card-text">Экскурсионные туры в Европу</div>
    </div>
  </div>
</div>
<!-- end /components/banner.111/-->