extends ../../layouts/main.jade

block title
  title Request sent | travellers

block content

  hr.i-unstyled

  .row
    .col-sm-8.col-sm-offset-2
    
      h1 Ваша заявка отправлена
  
      p Наши сотрудники обработают вашу заявку и свяжуться с вами в ближайшее время.
      p
        a( href="/tours/" ) Вернуться на страницу «Туры»

  hr.i-unstyled

  