
<!-- start /components/instagram-feed/-->
<link rel="stylesheet" href="/components/instagram-feed/style.css"/>
<script src="/components/instagram-feed/script.js"></script>
<div class="b-instagram-feed">
  <div class="row i-slide-top-animation">
    <div class="col-sm-3">
      <div class="b-instagram-feed__item">
        <div data-original="/upload/instagram/1.jpg" class="b-instagram-feed__img"></div>
        <div class="b-instagram-feed__text">Почему нельзя всегда жить в отеле? Вы только представьте: просыпаешься в красивом номере, спускаешься вниз, где тебя ждёт уже готовый завтрак. Никаких дел по дому, ушёл по своим делам, вернулся - в номере уже идеальная чистота. И так каждый день. </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="b-instagram-feed__item">
        <div data-original="/upload/instagram/2.jpg" class="b-instagram-feed__img"></div>
        <div class="b-instagram-feed__text">Buon pomeriggio dalla spiaggia di Sansone all'#isoladelba con la foto di @barbara.barilla</div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="b-instagram-feed__item">
        <div data-original="/upload/instagram/3.jpg" class="b-instagram-feed__img"></div>
        <div class="b-instagram-feed__text">Почему нельзя всегда жить в отеле? </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="b-instagram-feed__item">
        <div data-original="/upload/instagram/4.jpg" class="b-instagram-feed__img"></div>
        <div class="b-instagram-feed__text">Почему нельзя всегда жить в отеле? Вы только представьте: просыпаешься в красивом номере, спускаешься вниз, где тебя ждёт уже готовый завтрак. Никаких дел по дому, ушёл по своим делам, вернулся - в номере уже идеальная чистота. И так каждый день.</div>
      </div>
    </div>
  </div>
  <div class="row i-slide-top-animation">
    <div class="col-sm-3">
      <div class="b-instagram-feed__item">
        <div data-original="/upload/instagram/1.jpg" class="b-instagram-feed__img"></div>
        <div class="b-instagram-feed__text">Почему нельзя всегда жить в отеле? Вы только представьте: просыпаешься в красивом номере, спускаешься вниз, где тебя ждёт уже готовый завтрак. Никаких дел по дому, ушёл по своим делам, вернулся - в номере уже идеальная чистота. И так каждый день. </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="b-instagram-feed__item">
        <div data-original="/upload/instagram/2.jpg" class="b-instagram-feed__img"></div>
        <div class="b-instagram-feed__text">Buon pomeriggio dalla spiaggia di Sansone all'#isoladelba con la foto di @barbara.barilla</div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="b-instagram-feed__item">
        <div data-original="/upload/instagram/3.jpg" class="b-instagram-feed__img"></div>
        <div class="b-instagram-feed__text">Почему нельзя всегда жить в отеле? </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="b-instagram-feed__item">
        <div data-original="/upload/instagram/4.jpg" class="b-instagram-feed__img"></div>
        <div class="b-instagram-feed__text">Почему нельзя всегда жить в отеле? Вы только представьте: просыпаешься в красивом номере, спускаешься вниз, где тебя ждёт уже готовый завтрак. Никаких дел по дому, ушёл по своим делам, вернулся - в номере уже идеальная чистота. И так каждый день. </div>
      </div>
    </div>
  </div>
</div>
<!-- end /components/instagram-feed/-->