
<!-- start /components/forms/-->
<link rel="stylesheet" href="/components/forms/style.css"/>
<script src="/components/forms/script.js"></script>
<div class="b-forms">
  <div class="row i-unstyled">
    <div class="col-sm-8 col-sm-offset-2">
      <hr class="i-unstyled"/>
      <h2>Форма бронирования туров</h2>
    </div>
  </div>
  <div class="b-forms__tab hidden-xs">
    <div style="width: 700px; background-color: pink;"><script charset="utf-8" src="//www.travelpayouts.com/widgets/2e904aed9b11dc04a26ae5f66e4a9820.js?v=767" async></script></div>
  </div>
  <div class="b-forms__tab visible-xs-block">
    <div style="width: 300px; background-color: blue;"><script charset="utf-8" src="//www.travelpayouts.com/widgets/2e904aed9b11dc04a26ae5f66e4a9820.js?v=767" async></script></div>
  </div>
</div>
<!-- end /components/forms/-->