
<!-- start /components/forms/-->
<link rel="stylesheet" href="/components/forms/style.css"/>
<script src="/components/forms/script.js"></script>
<div class="b-forms">
  <div class="row">
    <div class="col-sm-12">
      <nav>
        <ul class="unstyled tabs">
          <li class="tab col-sm-3"><a href="#form1" class="valign-wrapper"><span class="valign center">Поиск туров</span></a></li>
          <li class="tab col-sm-3"><a href="#form2" class="valign-wrapper"><span class="valign center">Поиск авиабилетов</span></a></li>
          <li class="tab col-sm-3 disabled"><a href="#form3" class="valign-wrapper"><span class="valign center">Поиск отелей</span></a></li>
          <li class="tab col-sm-3"><a href="#form4" class="valign-wrapper"><span class="valign center">Бронирование автомобилей</span></a></li>
        </ul>
      </nav>
    </div>
    <div id="form1" class="col-sm-12 b-forms__tab">
      <div style="width: 300px; background-color: pink;">form1</div>
    </div>
    <div id="form2" class="col-sm-12 b-forms__tab">
      <div style="width: 100px; background-color: lightgreen;">form2</div>
    </div>
    <div id="form3" class="col-sm-12 b-forms__tab">
      <div style="width: 500px; background-color: violet;">form3</div>
    </div>
    <div id="form4" class="col-sm-12 b-forms__tab">
      <div style="width: 600px; background-color: lightblue;">form4</div>
    </div>
  </div>
</div>
<!-- end /components/forms/-->