extends ./layouts/main.jade

block title
  title Main page | travellers

block content

  hr.i-unstyled
  
  include ./components/banner.3/template
  include ./components/banner.111/template
  include ./components/banner.21/template
  include ./components/banner.12/template