.b-regions

  .row
    .col-sm-4
      .b-regions__item
        img.b-regions__square( src="/template/images/square.gif" )
        .b-regions__image( style="background-image: url(/upload/regions/1.jpg);" )
        a( href="country/" )
          span.b-regions__name Канкун
        span.b-regions__tours 14 туров в Мексику
    hr.i-unstyled.i-size-S.visible-xs-block
    .col-sm-4
      .b-regions__item
        img.b-regions__square( src="/template/images/square.gif" )
        .b-regions__image( style="background-image: url(/upload/regions/2.jpg);" )
        a( href="country/" )
          span.b-regions__name Акапулько
        span.b-regions__tours 14 туров в Мексику
    hr.i-unstyled.i-size-S.visible-xs-block
    .col-sm-4
      .b-regions__item
        img.b-regions__square( src="/template/images/square.gif" )
        .b-regions__image( style="background-image: url(/upload/regions/2.jpg);" )
        a( href="country/" )
          span.b-regions__name Италия
        span.b-regions__tours 14 туров в Мексику

  .row
    .col-sm-4
      .b-regions__item
        img.b-regions__square( src="/template/images/square.gif" )
        .b-regions__image( style="background-image: url(/upload/regions/1.jpg);" )
        a( href="country/" )
          span.b-regions__name Мексика
        span.b-regions__tours 14 туров в Мексику
    hr.i-unstyled.i-size-S.visible-xs-block
    .col-sm-4
      .b-regions__item
        img.b-regions__square( src="/template/images/square.gif" )
        .b-regions__image( style="background-image: url(/upload/regions/2.jpg);" )
        a( href="country/" )
          span.b-regions__name Италия
        span.b-regions__tours 14 туров в Мексику
    hr.i-unstyled.i-size-S.visible-xs-block
    .col-sm-4
      .b-regions__item
        img.b-regions__square( src="/template/images/square.gif" )
        .b-regions__image( style="background-image: url(/upload/regions/2.jpg);" )
        a( href="country/" )
          span.b-regions__name Италия
        span.b-regions__tours 14 туров в Мексику

  .row
    .col-sm-4
      .b-regions__item
        img.b-regions__square( src="/template/images/square.gif" )
        .b-regions__image( style="background-image: url(/upload/regions/1.jpg);" )
        a( href="country/" )
          span.b-regions__name Канкун
        span.b-regions__tours 14 туров в Мексику
    .col-sm-4
      .b-regions__item
        img.b-regions__square( src="/template/images/square.gif" )
        .b-regions__image( style="background-image: url(/upload/regions/2.jpg);" )
        a( href="country/" )
          span.b-regions__name Акапулько
        span.b-regions__tours 14 туров в Мексику
    .col-sm-4
      .b-regions__item
        img.b-regions__square( src="/template/images/square.gif" )
        .b-regions__image( style="background-image: url(/upload/regions/2.jpg);" )
        a( href="country/" )
          span.b-regions__name Италия
        span.b-regions__tours 14 туров в Мексику

  .row
    .col-sm-4
      .b-regions__item
        img.b-regions__square( src="/template/images/square.gif" )
        .b-regions__image( style="background-image: url(/upload/regions/1.jpg);" )
        a( href="country/" )
          span.b-regions__name Канкун
        span.b-regions__tours 14 туров в Мексику
    .col-sm-4
      .b-regions__item
        img.b-regions__square( src="/template/images/square.gif" )
        .b-regions__image( style="background-image: url(/upload/regions/2.jpg);" )
        a( href="country/" )
          span.b-regions__name Акапулько
        span.b-regions__tours 14 туров в Мексику
    .col-sm-4
      .b-regions__item
        img.b-regions__square( src="/template/images/square.gif" )
        .b-regions__image( style="background-image: url(/upload/regions/2.jpg);" )
        a( href="country/" )
          span.b-regions__name Италия
        span.b-regions__tours 14 туров в Мексику