.b-regions

  .row
    .col-sm-4
      .b-regions__item
        img.b-regions__square( src="/template/images/square.gif" )
        .b-regions__image( style="background-image: url(/upload/regions/1.jpg);" )
        a( href="resort/" )
          span.b-regions__name Канкун
    hr.i-unstyled.i-size-S.visible-xs-block
    .col-sm-4
      .b-regions__item
        img.b-regions__square( src="/template/images/square.gif" )
        .b-regions__image( style="background-image: url(/upload/regions/2.jpg);" )
        a( href="resort/" )
          span.b-regions__name Акапулько
    hr.i-unstyled.i-size-S.visible-xs-block
    .col-sm-4
      .b-regions__item
        img.b-regions__square( src="/template/images/square.gif" )
        .b-regions__image( style="background-image: url(/upload/regions/2.jpg);" )
        a( href="resort/" )
          span.b-regions__name Италия

  .row
    .col-sm-4
      .b-regions__item
        img.b-regions__square( src="/template/images/square.gif" )
        .b-regions__image( style="background-image: url(/upload/regions/1.jpg);" )
        a( href="resort/" )
          span.b-regions__name Мексика
    hr.i-unstyled.i-size-S.visible-xs-block
    .col-sm-4
      .b-regions__item
        img.b-regions__square( src="/template/images/square.gif" )
        .b-regions__image( style="background-image: url(/upload/regions/2.jpg);" )
        a( href="resort/" )
          span.b-regions__name Италия
    hr.i-unstyled.i-size-S.visible-xs-block
    .col-sm-4
      .b-regions__item
        img.b-regions__square( src="/template/images/square.gif" )
        .b-regions__image( style="background-image: url(/upload/regions/2.jpg);" )
        a( href="resort/" )
          span.b-regions__name Италия
