.b-line-menu
  .center
    a( href="" ) Абхазия
    | 
    a( href="" ) Австралия
    | 
    a( href="" ) Австрия
    | 
    a( href="" ) Австрия
    | 
    a( href="" ) Азербайджан
    | 
    span Аргентина
    | 
    a( href="" ) Болгария
    | 
    a( href="" ) Бразилия
    | 
    a( href="" ) Венгрия
    | 
    a( href="" ) Германия
    | 
    a( href="" ) Израиль
    | 
    a( href="" ) Индия
    | 
    a( href="" ) Индонезия
    | 
    a( href="" ) Италия
    | 
    a( href="" ) Корея Южная
    | 
    a( href="" ) Куба
    
  hr.i-line.i-size-L
      
  .center
    a( href="" ) Все страны
  