extends ../layouts/main.jade

block title
  title Country | travellers

block content

  hr.i-unstyled.i-size-L
  
  .row
    .col-sm-8.col-sm-offset-2
      h1 Страны
      p Какие ассоциации возникают в голове при слове «Мексика»? Некий собирательный образ Рамиреса в сомбреро и с револьверами за поясом, наводящий страх на все окрестные села?

  hr.i-unstyled
  
  include ../modules/regions/countries
  
  hr.i-unstyled.i-size-L

  