// start /components/banner.21/

.b-banner-21.b-banner
  
  .row
    .col-sm-8( style="background-image: url( '/upload/banner6.jpg' )" )
      .b-card-text Экскурсионные туры в Европу
          
    .col-sm-4( style="background-image: url( '/upload/banner5.jpg' )" )
      .b-card-text Недорогие туры в Крым

// end /components/banner.21/